# Python caches
__pycache__/
*.pyc

# Virtual environments
venv/
env/
/opt/venv/

# Project Data and Models (Too large for GitHub, generated locally)
project_data/
training_outputs/
*.csv
*.zip

# OS Files
.DS_Store